@model Fashion_Fuction.Models.ProductModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ProductsTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="product_Id" class="control-label"></label>
                <input asp-for="product_Id" class="form-control" value="xxx" />
                <span asp-validation-for="product_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_Name" class="control-label"></label>
                <input asp-for="product_Name" class="form-control" />
                <span asp-validation-for="product_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_Img1" class="control-label"></label>
                @*<img src="../@Html.DisplayFor(model => model.product_Img1)" class="img-thumbnail" width="70" />*@
                <input asp-for="product_ImgFile1" class="form-control" />
                <span asp-validation-for="product_ImgFile1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_Img2" class="control-label"></label>
                @*<img src="../@Html.DisplayFor(model => model.product_Img2)" class="img-thumbnail" width="70" />*@
                <input asp-for="product_ImgFile2" class="form-control" />
                <span asp-validation-for="product_ImgFile2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_Img3" class="control-label"></label>
                @*<img src="../@Html.DisplayFor(model => model.product_Img3)" class="img-thumbnail" width="70" />*@
                <input asp-for="product_ImgFile3" class="form-control" />
                <span asp-validation-for="product_ImgFile3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_Img4" class="control-label"></label>
                @*<img src="../@Html.DisplayFor(model => model.product_Img4)" class="img-thumbnail" width="70" />*@
                <input asp-for="product_ImgFile4" class="form-control" />
                <span asp-validation-for="product_ImgFile4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_Img5" class="control-label"></label>
                @*<img src="../@Html.DisplayFor(model => model.product_Img5)" class="img-thumbnail" width="70" />*@
                <input asp-for="product_ImgFile5" class="form-control" />
                <span asp-validation-for="product_ImgFile5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_Description" class="control-label"></label>
                <input asp-for="product_Description" class="form-control" />
                <span asp-validation-for="product_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_ShortDescription" class="control-label"></label>
                <input asp-for="product_ShortDescription" class="form-control" />
                <span asp-validation-for="product_ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_Price" class="control-label"></label>
                <input asp-for="product_Price" class="form-control" />
                <span asp-validation-for="product_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_Type" class="control-label"></label>
                <input asp-for="product_Type" class="form-control" />
                <span asp-validation-for="product_Type" class="text-danger"></span>
            </div>

            @if (ViewBag.categoryList != null)
            {
                <div class="form-group">
                    <label asp-for="product_CategoryId" class="control-label"> Category New</label>
                    <select multiple class="form-control" asp-for="product_CategoryId" required>
                        @foreach (var categoryName in ViewBag.categoryList)
                        {



                            <option value="@categoryName.category_Id">@categoryName.category_Name</option>

                        }
                    </select>
                    <span asp-validation-for="product_CategoryId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
