@model IEnumerable<Fashion_Fuction.Models.ProductModel>
@{
    double sum = 0;
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Complete</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Start -->

<div class="container-fluid">
    <div class="row">
        <h3>Thank you for your order</h3>
    </div>
    <div class="row">
        <h6><a href="/">Continues with shop </a></h6>
    </div>
</div>
<!-- Checkout End -->
