@using Microsoft.AspNetCore.Identity
@using Fashion_Infrastructure.Entities;
@inject SignInManager<UsersTable> SignInManager
@inject UserManager<UsersTable> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
        <span class="d-none d-lg-inline-flex">@User.Identity?.Name!</span>
    </a>

    @*    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>*@
}
else
{
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
        <span class="d-none d-lg-inline-flex">Test</span>
    </a>
}

