@using Fashion_Infrastructure.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UsersTable> SignInManager
@inject UserManager<UsersTable> UserManager


@if (SignInManager.IsSignedIn(User))
{

    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">@User.Identity?.Name!</button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" type="button" href="/logout">Logout</a>
        </div>
    </div>
}
else
{
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" type="button" href="/login">Sign in</a>
            <a class="dropdown-item" type="button" href="/register">Sign up</a>
        </div>
    </div>
}

