@model IEnumerable<Fashion_Fuction.Models.CommentModel>
@{
    int iRow = 0;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Comment</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            iRow++;

            <tr>
                <th scope="row">@iRow</th>
                <td>@item.UserName</td>
                <td>@item.Comment</td>
                <td>
                    <a asp-action="BlockComment" asp-route-id="@item.Id" > Block comment </a>
                </td>
            </tr>
        }
        
        
    </tbody>
</table>