@model IEnumerable<Fashion_Infrastructure.Entities.BillsTable>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">IsActive</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <th scope="row">1</th>
                <td>@item.bill_Code</td>
                <td>@item.bill_Price</td>
                <td></td>

            </tr>
        }
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>