@model IEnumerable<Fashion_Infrastructure.Entities.CategoriesTable>
@{
    int iRow = 0;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            iRow++;
            <tr>
                <th scope="row">@iRow</th>
                <td>@item.category_Name</td>
                <td>
                    <a>Details</a>|
                    <a>Edit</a>|
                    <a>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>